/*==============================================
  1.0 Header Variables
==============================================*/
$header-height: 64px;
$border-color: #c0c0c0;

/*==============================================
  2.0 Toolbar Variables
==============================================*/
$toolbar-height: 50px;

/*==============================================
  3.0 Formula Variables
==============================================*/
$formula-height: 35px;
$info-cell-width: 40px;

/*==============================================
  4.0 Table Variables
==============================================*/
$row-height: 25px;
$cell-width: 120px;
$primary-color: #3c74ff;

/*==============================================
  5.0 Dashboard Variables
==============================================*/
$db-header-height: 85px;